USE [master]
GO
/****** Объект:  Database [Andromeda]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
CREATE DATABASE [Andromeda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Andromeda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Andromeda.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Andromeda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Andromeda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Andromeda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Andromeda]
GO
/****** Объект:  Table [dbo].[ЕдиницаИзмерения$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЕдиницаИзмерения$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_ЕдиницаИзмерения$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Заказы$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы$](
	[id] [int] NOT NULL,
	[ДатаЗаказа] [nvarchar](255) NULL,
	[ДатаДоставки] [nvarchar](255) NULL,
	[id_пвз] [int] NOT NULL,
	[id_клиента] [int] NOT NULL,
	[КодПолучения] [float] NULL,
	[id_статуса] [int] NOT NULL,
 CONSTRAINT [PK_Заказы$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Категория$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_Категория$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Пользователи$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи$](
	[id] [int] NOT NULL,
	[id_роли] [int] NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
 CONSTRAINT [PK_Пользователи$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Поставщик$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщик$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_Поставщик$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Производитель$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производитель$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_Производитель$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ПунктыВыдачи$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПунктыВыдачи$](
	[id] [int] NOT NULL,
	[Адрес] [nvarchar](255) NULL,
 CONSTRAINT [PK_ПунктыВыдачи$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Роли$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_Роли$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[СоставЗаказа$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставЗаказа$](
	[id] [int] NOT NULL,
	[id_заказа] [int] NOT NULL,
	[Артикул] [nvarchar](255) NULL,
	[Количество] [float] NULL,
 CONSTRAINT [PK_СоставЗаказа$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[СтатусЗаказа$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СтатусЗаказа$](
	[id] [int] NOT NULL,
	[Название] [nvarchar](255) NULL,
 CONSTRAINT [PK_СтатусЗаказа$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Товары$]    Дата создания скрипта: 17.06.2026 1:59:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары$](
	[id] [int] NOT NULL,
	[Артикул] [nvarchar](255) NULL,
	[Наименование] [nvarchar](255) NULL,
	[id_единицы] [int] NOT NULL,
	[Цена] [float] NULL,
	[id_поставщика] [int] NULL,
	[id_производителя] [int] NOT NULL,
	[id_категории] [int] NOT NULL,
	[ДействующаяСкидка] [float] NULL,
	[КоличествоНаСкладе] [float] NULL,
	[ОписаниеТовара] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_Товары$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Товары$] UNIQUE NONCLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_Пользователи$] FOREIGN KEY([id_клиента])
REFERENCES [dbo].[Пользователи$] ([id])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_Пользователи$]
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_ПунктыВыдачи$] FOREIGN KEY([id_пвз])
REFERENCES [dbo].[ПунктыВыдачи$] ([id])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_ПунктыВыдачи$]
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_СтатусЗаказа$] FOREIGN KEY([id_статуса])
REFERENCES [dbo].[СтатусЗаказа$] ([id])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_СтатусЗаказа$]
GO
ALTER TABLE [dbo].[Пользователи$]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи$_Роли$] FOREIGN KEY([id_роли])
REFERENCES [dbo].[Роли$] ([id])
GO
ALTER TABLE [dbo].[Пользователи$] CHECK CONSTRAINT [FK_Пользователи$_Роли$]
GO
ALTER TABLE [dbo].[СоставЗаказа$]  WITH CHECK ADD  CONSTRAINT [FK_СоставЗаказа$_Заказы$] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказы$] ([id])
GO
ALTER TABLE [dbo].[СоставЗаказа$] CHECK CONSTRAINT [FK_СоставЗаказа$_Заказы$]
GO
ALTER TABLE [dbo].[СоставЗаказа$]  WITH CHECK ADD  CONSTRAINT [FK_СоставЗаказа$_Товары$] FOREIGN KEY([Артикул])
REFERENCES [dbo].[Товары$] ([Артикул])
GO
ALTER TABLE [dbo].[СоставЗаказа$] CHECK CONSTRAINT [FK_СоставЗаказа$_Товары$]
GO
ALTER TABLE [dbo].[Товары$]  WITH CHECK ADD  CONSTRAINT [FK_Товары$_ЕдиницаИзмерения$] FOREIGN KEY([id_единицы])
REFERENCES [dbo].[ЕдиницаИзмерения$] ([id])
GO
ALTER TABLE [dbo].[Товары$] CHECK CONSTRAINT [FK_Товары$_ЕдиницаИзмерения$]
GO
ALTER TABLE [dbo].[Товары$]  WITH CHECK ADD  CONSTRAINT [FK_Товары$_Категория$] FOREIGN KEY([id_категории])
REFERENCES [dbo].[Категория$] ([id])
GO
ALTER TABLE [dbo].[Товары$] CHECK CONSTRAINT [FK_Товары$_Категория$]
GO
ALTER TABLE [dbo].[Товары$]  WITH CHECK ADD  CONSTRAINT [FK_Товары$_Поставщик$] FOREIGN KEY([id_поставщика])
REFERENCES [dbo].[Поставщик$] ([id])
GO
ALTER TABLE [dbo].[Товары$] CHECK CONSTRAINT [FK_Товары$_Поставщик$]
GO
ALTER TABLE [dbo].[Товары$]  WITH CHECK ADD  CONSTRAINT [FK_Товары$_Производитель$] FOREIGN KEY([id_производителя])
REFERENCES [dbo].[Производитель$] ([id])
GO
ALTER TABLE [dbo].[Товары$] CHECK CONSTRAINT [FK_Товары$_Производитель$]
GO
USE [master]
GO
